/*
minimilaism colours 
darkblue: #223745 
white creme: #ecebe2 
beige #e0d2b4
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FBFBFF;
}

.sidebar_content .col-sm-2{
    background-color: #81b0ce98;
    padding: 0;
}

.sidebar_content .col-sm{
    background-color: #fffefbef;
    padding-top: 10px;
}

.sidebar_content .col-sm .row h4{
    font-weight: bold;
}

.sidebar_content .container-fluid .row .col-sm-2 .img-fluid{
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    max-width: 75%;
    max-height: 75%;
}

#photogallery{
    padding:10px;
    margin:0;
    background-color: #fffefbef;
}

#photogallery img{
    height: 15vw; 
    object-fit:cover;
}

#photogallery .card{
   max-width: 15rem; 
   margin-right: 2rem;
}

.sidebar_content p{
    color: white; 
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#icons{
    display:flex;
}

#icons li{
    float:left 
}

#icons li a
{
    display: block;
    color: black;
    font-size: medium;
    text-decoration: none;
}

#icons li a .fab{
    width: 30px; 
}

#icons li a .fas{
    width: 30px; 
}

#icons li a:hover{
    background-color:  #e6e6e6de;
    text-decoration: none;
    border-radius: 10%;
    font-weight: bolder;
}

.custom-card
{
    color:black; 
    text-decoration: none;
}

.custom-card:hover{
    color:black; 
    text-decoration: none;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* @media only screen and (max-width: 600px){
    #icons li a
    {
        font-size: small;
        padding-right: 10px;
    }
} */
