/*
minimilaism colours 
darkblue: #223745 
white creme: #ecebe2 
beige #e0d2b4
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.sidebar_content .col-sm-2{
    background-color: #81b0ce98;
    padding: 0;
}

.sidebar_content .col-sm{
    background-color: #fffefbef;
    padding-top: 10px;
}

.sidebar_content .col-sm .row h4{
    font-weight: bold;
}

.sidebar_content .container-fluid .row .col-sm-2 .img-fluid{
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    max-width: 75%;
    max-height: 75%;
}

#photogallery{
    padding:10px;
    margin:0;
    background-color: bisque;
}

#photogallery .carousel-indicators .active{
    background-color:red;
}

.sidebar_content p{
    color: white; 
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.sidebar_content ul li{
    padding-left: 0;
    margin: 0;
}

.sidebar_content ul li a
{
    display: block;
    color: #fffefbef;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: small;
}

.sidebar_content ul li a .fab{
    width: 25px; 
}

.sidebar_content ul li a .fas{
    width: 25px; 
}

.sidebar_content ul li a:hover{
    background-color: #607f94;
    text-decoration: none;
    font-weight: bold;
}

.sidebar_content ul li a:hover a{
    color: #ecebe2;
    font-weight: bolder;
}
