/*
minimilaism colours 
darkblue: #223745 
white creme: #ecebe2 
beige #e0d2b4
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.sidebar_content .row{
    background-color: #fffefbef;
}

.sidebar_content .footer{
    color: #161505;
}

.sidebar_content .footer h6{
    padding:5px;
    font-size: small;
}

.navbar-custom{
    background-color: #fffefbef;
}

.navbar-custom .navbar-brand{
    padding-left: 30px;
    color: #223745;
    font-weight: bold;
    font-size: x-large;
}

.navbar-custom .navbar-collapse > a {
    color: #223745;
    font-weight: bold;
    font-size: medium;
}

.navbar-custom .navbar-collapse > a:hover, .navbar-custom .navbar-collapse > a:focus {
    background-color: #f8f5ec;
    font-weight: bolder;
    color: #223745;
    border-radius: 10%;
}

.sidebar_content .col-sm-2{
    background-color: #81b0ce;
    padding: 0;
}

.sidebar_content .col-sm{
    background-color: #fffefb;
    padding: 10;
}

.sidebar_content img{
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    max-width: 75%;
    max-height: 75%;
}

.sidebar_content p{
    color: white; 
    padding: 10px;
}

.sidebar_content ul li{
    padding-left: 0;
    margin: 0;
}

.sidebar_content ul li a
{
    display: block;
    color: #fffefbef;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: small;
}

.sidebar_content ul li a .fab{
    width: 25px; 
}

.sidebar_content ul li a .fas{
    width: 25px; 
}

.sidebar_content ul li a:hover{
    background-color: #607f94;
    text-decoration: none;
    font-weight: bold;
}

.sidebar_content ul li a:hover a{
    color: #ecebe2;
    font-weight: bolder;
}
