/*
minimilaism colours 
darkblue: #223745 
white creme: #ecebe2 
beige #e0d2b4
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f3f3ef;
}

.wrapper{
    display: flex; 
    position: relative; 
}

.wrapper .sidebar{
    position: fixed;
    width: 250px; 
    height: 100%; 
    background-color: #223745;
    padding: 30px 0;
    float: right;
}

.wrapper .sidebar img{
    display: block;
    object-fit: cover;
    border-radius: 50%;
    max-width: 75%;
    max-height: 75%;
    padding: 2px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .sidebar p{
    color: #ecebe2;
    margin: 10px 10px 10px 10px;
    font-size: medium;
    padding: 10px 10x 10px 10px;
}

.wrapper .sidebar ul li{
    padding: 2px;
}

.wrapper .sidebar ul li a
{
    color: #ecebe2;
    display: block;
    padding: 5px;
    font-size: small;
}

.wrapper .sidebar ul li a .fab{
    width: 25px; 
}

.wrapper .sidebar ul li a .fas{
    width: 25px; 
}

.wrapper .sidebar ul li a:hover{
    background-color: #304c5f;
}

.wrapper .sidebar ul li a:hover a{
    color: #ecebe2;
}

.menu{
    padding: 10px;
    margin-left: 250px;
    border-bottom: 1px solid #e0d2b4;
    overflow: hidden;
    width: 100%;
}
    
.menu h2{
    color: #161505;
    text-transform: uppercase;
    text-align: left;
    font-size:large;
    padding: 10px;
    float: left;
}

.menu a
{
    text-align: center;
    color: #161505;
    float: right;
    padding: 10px;
    font-weight: bold;
}

.menu a:hover{
    background-color: #e4e4dc;
    border-radius: 10%;
    color: white;
    font-weight: bolder;
}

