<nav class="navbar navbar-expand navbar-custom border-bottom border-light flex-column flex-md-row">
    <span class="navbar-brand mb-0 h1">Moira's Blog</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-sm-end navbar-nav flex-row" id="navbarNavAltMarkup">
        <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span>Home</a>
        <a class="nav-item nav-link" href="_posts/posts_menu.html">Posts</a>
        <a class="nav-item nav-link" href="#">Resume</a>
    </div>
</nav>
